// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.expense_header {
  text-align: left;
  th {
    padding-left: 10px;
    text-decoration: underline;
  }
}
.expense {
  td {
    padding-left: 10px;
  }
 }
